<head>
    <title>index.html</title>
    <meta charset="UTF-8">
</head>
<body>

<form method="post">
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>